.overlay {
	color: white;
    font: 24px Open Sans;
    padding-top: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

.slider-container {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 200px;
}

.slider-thumb {
	width: 3em;
	height: 3em;
}